<IfModule mod_rewrite.c>
Options All -ExecCGI -Indexes -Includes +FollowSymLinks
RewriteBase /new_manikur
RewriteEngine on

#RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f [NC,OR]
RewriteCond %{QUERY_STRING} (\<|%3C).*script.*(\>|%3E) [NC,OR]
RewriteCond %{QUERY_STRING} GLOBALS(=|\[|\%[0-9A-Z]{0,2})
RewriteRule ^.*$ index.php [L]

#RewriteRule !.(js|css|ico|gif|jpg|png|webp|svg|woff|woff2|ttf)$ index.php [L]

# -----------------------------
</IfModule>

<IfModule mod_setenvif.c>
	SetEnv TZ Europe/Simferopol
</IfModule>

<ifModule mod_php.c>
   php_flag display_errors 1
   php_value	upload_max_filesize	2M
   php_value	post_max_size		10M
   php_value	default_charset utf-8
 #  php_value	max_execution_time 200
  </ifModule>